/*css-reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generics*/
body{
    font-family: sans-serif;
}

img{
    width: 100%;
    display: block;
}

a{
    display: block;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.container *{
    border: dashed 1px green;
}

.container{
    width: 1200px;
    margin: 50px auto;
    height: 700px; 
    display: flex;
}

#contacts{
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
}

#chat{
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
}

header{
    height: 60px;
}

/*color*/


/*bg*/


/*btn*/
.btn{
    border-radius: 20px; 
    border-color: transparent; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #contacts */
.notifications{
    height: 75px;
}

#contacts nav{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.search-bar{
    height: 40px;
}

.contact-list{
    flex-grow: 1;
    overflow-y: auto;
}

/* #chat */
.chat-area{
    flex-grow: 1;
}

.chat-box{
    height: 60px;
    flex-shrink: 0;
}